<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>
    <div>
      <a href="javascript:;">登录</a>
      <a href="javascript:;">注册</a>
    </div>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <script src="/js/index.js"></script>
  </body>
</html>
